Repository Gervi-Hera-Vitr/sindri-labs, changes with the labels that .github/labeler.yml gives for each.
All labels: root, actions, docs, site, structural, curriculum, project, labs, google, ai

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: '*'

actions:
  - changed-files:
      - any-glob-to-any-file: '.github/**'

docs:
  - changed-files:
      - any-glob-to-any-file: 'docs/**'

site:
  - changed-files:
      - any-glob-to-any-file: 'site/**'

structural:
  - changed-files:
      - any-glob-to-any-file: ['about.text', 'about.txt']

curriculum:
  - changed-files:
      - any-glob-to-any-file: ['**/curriculum/**']

project:
  - changed-files:
      - any-glob-to-any-file: ['**/project/**']

labs:
  - changed-files:
      - any-glob-to-any-file: '**/labs/**'

google:
  - changed-files:
      - any-glob-to-any-file: '**/google/**'

release:
  - base-branch: 'main'

ai:
  - changed-files:
      - any-glob-to-any-file: '**.ipynb'

Remodeled school site workflows
  .github/workflows/github-pages-deploy.yml
  .github/workflows/github-pages-jekyll-build.yml
  .github/workflows/greetings.yml
  .github/workflows/jekyll-gh-pages.yml
  .github/workflows/label.yml
  .github/workflows/stale.yml
Labels: actions

Rebinding code scanning
  .github/workflows/security-scan-by-codacy.yml
  .github/workflows/security-scan-by-qodana.yml
  .github/workflows/security-scan-by-snyk.yml
Labels: actions

Codacy
  .github/workflows/actions-prune.yml
  .github/workflows/build-on-push.yml
  .github/workflows/cache-prune.yml
  .github/workflows/github-pages-deploy.yml
  .github/workflows/github-pages-jekyll-build.yml
  .github/workflows/greetings.yml
  .github/workflows/label.yml
  .github/workflows/security-scan-by-codacy.yml
  .github/workflows/security-scan-by-codeql.yml
  .github/workflows/security-scan-by-qodana.yml
  .github/workflows/security-scan-by-snyk.yml
  .github/workflows/stale.yml
Labels: actions

Binding Qodana
  .github/workflows/security-scan-by-codeql.yml
  .github/workflows/security-scan-by-qodana.yml
Labels: actions

Add Codacy badge
  README.md
Labels: root

Binding Qodana
  .github/workflows/security-scan-by-codacy.yml
  README.md
  SECURITY.md
Labels: root, actions

Completed workflows updates
  .github/workflows/github-pages-jekyll-build.yml
  .github/workflows/label.yml
  .github/workflows/security-scan-by-codacy.yml
  .github/workflows/security-scan-by-codeql.yml
  .github/workflows/security-scan-by-qodana.yml
  .github/workflows/security-scan-by-snyk.yml
  .github/workflows/stale.yml
  build.gradle.kts
Labels: root, actions

Completed workflows updates
  .github/workflows/security-scan-by-snyk.yml
Labels: actions
