Repository Gervi-Hera-Vitr/sindri-labs, pull requests merged in 2025-07, with the labels that each got.

#367 366 grade fundamentals of mathematics
  curriculum/History/Books/EssayOnGoSetAWatchman.adoc
  curriculum/History/Books/EssayOnHarryPotter.adoc
  curriculum/History/Books/EssayOnHowToKillAMockingBird.adoc
  curriculum/Mathematics/onEverything/FoundationsOfMathimatics.adoc
  site/_posts/2024-11-08-Welcome-to-my-School.adoc
  site/_posts/2025-06-17-My-School-First-Update.adoc
  site/_posts/2025-06-26-Essay-On-Harry-Potter-Series.adoc
  site/_posts/2025-06-26-Harry-Potter-Essay.adoc
  site/_posts/2025-06-28-Essay-On-How-To-Kill-A-Mocking-Bird.adoc
  site/_posts/2025-07-01-Essay-On-Go-Set-A-Watchman.adoc
  site/_posts/2025-07-01-Mocking-Bird-Essay.adoc
  site/_posts/2025-07-01-On-Mathematics.adoc
  site/_posts/2025-07-02-On-Foundations-Of-Mathematics.adoc
  site/_posts/2025-07-03-On-Mathematics-Set-Theory.adoc
  site/_posts/2025-07-04-On-Mathematics-Complexity-Theory.adoc
  site/_posts/2025-07-05-On-Mathematics-Category-Theory.adoc
  site/_posts/2025-07-06-On-Godel-Incompleteness-Theorem.adoc
  site/_posts/2025-07-07-On-Computation-Theory.adoc
  site/_posts/2025-07-11-On-Set-Theory.adoc
  site/_posts/Mocking-Bird-Essay.adoc
Labels: site, curriculum, release, Final Grade

#373 369 restore captains curriculum
  .github/ISSUE_TEMPLATE/bug_report.md
  administration/Retired-Academic-Year-School-Schedule.adoc
  administration/School-Requirements.adoc
  site/_config.yml
  site/_data/authors.yml
  site/_pages/mathematics.adoc
  site/_pages/philosophers.adoc
  site/_pages/philosophy.adoc
  site/_pages/school-year.adoc
  site/_pages/science.adoc
  site/assets/diargrams/philosophers.mmd
  site/assets/images/philosophers.jpg
  site/assets/images/philosophers.png
  site/index.adoc
Labels: actions, site, curriculum, release

#374 364 software engineering skills week 28 hacker goo
  .editorconfig
  .gitignore
  curriculum/Engineering/onCoreWizardry/onCompetitiveProgramming/onCodeForces/index.text
  curriculum/Engineering/onCoreWizardry/onCompetitiveProgramming/onHuggingFace/index.text
  curriculum/Engineering/onCoreWizardry/onCompetitiveProgramming/onKaggle/index.text
  curriculum/Engineering/onCoreWizardry/onCompetitiveProgramming/onLeetCode/index.adoc
  curriculum/History/Greece/Al-Khwarizmi.adoc
  curriculum/History/Greece/ArchimedesofSyracuse.adoc
  curriculum/History/Greece/EuclidofAlexandria.adoc
  curriculum/History/Greece/Fibonacci.adoc
  curriculum/History/Greece/Omar-Khayyam.adoc
  curriculum/History/Greece/Pythagoras-of-Samos.adoc
  curriculum/History/Greece/ThalesOfMiletus.adoc
  curriculum/Mathematics/Assignments/CircleAreaProof&TheMethod.adoc
  curriculum/Mathematics/Theorems/Binomial-theorem.adoc
  curriculum/Mathematics/Theorems/Pythagorean-Theorem.adoc
  curriculum/Mathematics/Theorems/ThalesTheorems.adoc
  curriculum/Mathematics/onStructuredMathematics/AxiomsOfAlgebra.adoc
  curriculum/Mathematics/onStructuredMathematics/EuclideanGeometryBasics.adoc
  labs/001-python/Test.py
  site/_pages/mathematics.adoc
Labels: root, site, curriculum, labs, release

#378 377-it-would-be-really-cool-to-have-philosopher-fun-journey-on-a-break
  .run/Bundle Serve Local.run.xml
  curriculum/Psychology/Philosophies/TheoremsAndPrinciplesOfStoicism.adoc
  site/_pages/philosophy.adoc
Labels: enhancement, site, curriculum, project, release, Learn Humanities, internship, Final Grade
