Repository Gervi-Hera-Vitr/sindri-labs, pull requests merged in 2025-06, with the labels that each got.

#325 324 finalized school schedules year week day so theres no vehveh from goo
  administration/Daily-Class-Schedule.adoc
  administration/Weekly-Class-Schedule.adoc
Labels: curriculum

#334 326 it would be really cool to have week 23 intermediate python and algebra
  .idea/inspectionProfiles/Project_Default.xml
  assessments/Week-23-2025
  curriculum/Mathematics/EverySingleTypeOfMathimaticsINeedToLearn
  curriculum/Mathematics/onStructuredMathematics/Algebra 1&2.adoc
  labs/001-python/FalloutNc.py
  labs/001-python/Learning.py
  labs/001-python/Player.py
  labs/001-python/Text.py
Labels: Final Grade

#345 Starting on the build and publish workflow
  .github/workflows/build-on-push.yml
  .github/workflows/github-pages-deploy.yml
  .github/workflows/github-pages-jekyll-build.yml
  .github/workflows/security-scan-by-codacy.yml
  .github/workflows/security-scan-by-codeql.yml
  .github/workflows/security-scan-by-qodana.yml
Labels: actions, release

#347 sindri-labs-337 Have a proper grasp on STEM Fundamentals
  curriculum/Mathematics/onEverything/FoundationsOfMathimatics.adoc
Labels: curriculum, release

#349 Completed cleanup after pages changes with Anton.
  README.md
  docs/src/resources/images/avatar.png
  site/README.md
  site/_config.yml
  site/_data/navigation.yml
  site/_pages/contact.adoc
  site/_pages/curriculum.adoc
  site/_pages/profile-page.adoc
  site/_pages/tags.md
Labels: bug, root, docs, site, release
